.App-header {
    text-align: center;
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-navbar {
    background-color: #EEE;
}
